<h1>This is the product page with ID= <%= @id %></h1>
<h2>This is the product name is <%= @name %></h2>
<%!-- <h3>You have a promotional code <%= @promo %></h3> --%>
<h3 :if={@promo}>You have a promotional code </h3>
<%!-- <input type="textbox"> --%>